<!DOCTYPE html>
<html>
     <head>
          {% load static %}
          <link rel="stylesheet" href={% block css %}"{% static "foxhackathon2/css/base.css" %}">{% endblock %}
          <script src={% block js %}"{% static "foxhackathon2/javascript/base.js" %}" charset="utf-8"></script>{% endblock %}
          <title>{% block title %}{% endblock %}</title>
     </head>
     <body>
          {% block sidebar %}
          <div id = 'sidebar' class="sidenav">
                    <a href="javascript:void(0)" onclick="closeNav()" class="closebtn">X</a>
                    <a href="/">Home</a>
                    <a href="/calendar"></a>
          </div>
          <span style="font-size:30px;cursor:pointer;padding-left:20px" onclick="openNav()">&#9776;</span>
          {% endblock %}
          <div id='content'>
               {% block content %}

               {% endblock %}
          </div>
     </body>
</html>
