{% extends "server/base.html" %}

{% block content %}

     <input type="text" id="in_name" class="name">
     <input type="text" id="in_revenue" class="revenue">
     <button onclick="addItem()">+</button>
     <br>

     <form method="post">
     {% csrf_token %}

     {% for i in num_existing_employees %}

          <input type='text' id='name{{ forloop.counter0 }}' value={{ forloop.counter0 }} readonly>
          <input type='text' id='revenue{{forloop.counter0 }}' value={{ forloop.counter0 }} readonly>
          <button onclick="removeItem()">X</button>
          <br>

     {% endfor %}

     <input type="submit">
     </form>

{% endblock %}
