{% extends "server/base.html" %}

{% block content %}

     <form method="post">
     {% csrf_token %}
          <input type="text" id="in_name" class="textfield" >
          <input type="text" id="in_revenue" class="textfield">
          <input id="add" type="button" value="+">
          <br>
          <input type="submit" name='form_submission' value='Submit'
          onclick="submitForm">
          <div id="added_employees"></div>
     </form>

     {% for employees in num_existing_employees %}
          <input type='text' class="textfield" id='name{{ forloop.counter0 }}' value='{{employees.name}}' readonly>
          <input type='text' class="textfield" id='revenue{{forloop.counter0 }}' value='{{ employees.revenue }}' readonly>
          <button id="removeItem">X</button>
          <br>

     {% endfor %}

{% endblock %}
